*{
  margin: 0;
  padding: 0;
}

.container{
  max-width: 1320px;
  margin: 0 auto;
}


a{
  text-decoration: none;
  color: aliceblue;
  display: inline-block;
}


ul{
  list-style-type: none;
}

/*=================NAVBAR============== */

.navbar{
  background-color: rgba(192, 192, 192, 0.479);
}

.container{
  padding: 20 0px;
  width: 1320px;
  background-color: none;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar .container .menu ul{
  display: flex;
  column-gap: 30px;
}

nav .container .menu ul li {
 position: relative;
}

.navbar .container .btn button{
  padding: 5px 5px;
  background-color: #006eff;
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  margin: 0 10px;
  border-radius: 10px;
}

.navbar .container .btn button:hover{
  background-color: white;
  text-decoration: #006eff;
  color: #006eff;
  transition: all ease 0.5s;
}

nav .container .menu ul li ul {
  position: absolute;
  top: 105%;
  left: 0;
  flex-direction: column;
  width: 115px;
  opacity: 0;
  transition: all ease 0.5s;
  visibility: hidden;
}

nav .container .menu ul li ul li a{
  background-color: silver;
  width: 100%;
}

nav .container .menu ul li ul li a{
  background-color: silver;
  border-radius: 0px;
}

nav .container .menu ul li a {
  background: rgb(92, 92, 92);
  padding: 5px 10px;
  transition: 0.5s;
  border-radius: 10px;
}


nav .container .menu ul li ul li ul {
  top: 0;
  left: 120%;
}

nav .container .menu ul li:hover > a {
  background: silver;
  color: blue;
}


nav .container .menu ul li:hover > ul{
  opacity: 1;
  visibility: visible;
}


/*=================================== */

/*=================Banner================== */

#banner {
  background-image: url(images/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

#banner .container{
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 200px 0px;
}

#banner .overlay{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

#banner .container h1{
  font-size: 50px;
  color: rgb(255, 244, 244);
  font-weight: 700;
  margin-bottom: 20px;
}

#banner .container p{
  font-size: 20px;
  color: rgb(199, 197, 197);
  font-weight: 400;
  margin-bottom: 20px;
}

#banner .container button{
  padding: 10px 20px;
  background-color: silver;
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  margin: 0 10px;
  border-radius: 10px;
}

#banner .container button:hover{
  background-color: rgb(102, 102, 102);
  text-decoration: #006eff;
  color: white;
  transition: all ease 0.5s;
}

/* ======================================== */

/* ==================About================== */

.about_section{
  padding: 100px 0px;
  background-color: rgb(231, 228, 228);
  margin: 30px 0px;
}

.about_section .container .header{
  text-align: center;
  position: relative;
  z-index: 1;
}

.about_section .container .header .overlay{
  font-size: 150px;
  font-weight: 700;
  font-family: Arial;
  position: absolute;
  top: 15%;
  left: 30%;
  color: rgb(215, 218, 224);
  z-index: -1;
}

.about_section .container .header button{
  padding: 5px 25px;
  background-color: rgb(177, 185, 218);
  text-decoration: none;
  color: #4138bd;
  font-size: 12px;
  border-radius: 20px;
}

.about_section .container .header button:hover{
  background-color: rgb(102, 102, 102);
  text-decoration: #006eff;
  color: white;
  transition: all ease 0.5s;
}

.about_section .container .header p{
  font-size: 30px;
  font-family: Verdana;
  width: 1250px;
  color: rgb(95, 90, 90);
  margin: 0 auto;
  padding: 80px 20px;
  align-items: center;
}

.about_section .box{
  padding: 40px;
  display: flex;
  max-width: 1000px;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  column-gap: 40px;
} 

.about_section .box div{
  height: 200px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  position: relative;
  color: #006eff;
  border-radius: 10px;
}
.about_section .box div{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all ease 0.5s;
}


.about_section .box div img{
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.about_section .box div h4{
  font-size: 20px;
  font-weight: 550;
  font-family: sans-serif;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(24, 23, 102);
}

.about_section .footer{
  background-color: rgb(231, 228, 228);
  padding: 20px 0px;
  max-width: 1020px;
  display: flex;
  align-items: center;
  column-gap: 50px;
  margin: 30px auto;
  font-family: Georgia;
}

